KAFKA_BOOTSTRAP_SERVERS=bootstrap.example.managedkafka.cloud.goog:9092
LOGSTASH_KAFKA_ENDPOINT=bootstrap.example.managedkafka.cloud.goog:9092

KAFKA_SECURITY_PROTOCOL=SASL_SSL
KAFKA_SASL_MECHANISM=PLAIN
KAFKA_SASL_USERNAME=kafka-client@example-project.iam.gserviceaccount.com
KAFKA_SASL_PASSWORD=

MYSQL_DEBEZIUM_USER=debezium
MYSQL_DEBEZIUM_PASSWORD=debezium1234

BUCKET_NAME=your-raw-log-bucket
OBJECT_STORAGE_ENDPOINT=https://storage.googleapis.com
OBJECT_STORAGE_REGION=auto
OBJECT_STORAGE_ACCESS_KEY=
OBJECT_STORAGE_SECRET_KEY=
S3_TOPICS_DIR=raw
