KAFKA_BOOTSTRAP_SERVERS=bootstrap.kafka-clu.asia-northeast3.managedkafka.jobiq-487803.cloud.goog:9092
LOGSTASH_KAFKA_ENDPOINT=bootstrap.kafka-clu.asia-northeast3.managedkafka.jobiq-487803.cloud.goog:9092

KAFKA_SECURITY_PROTOCOL=SASL_SSL
KAFKA_SASL_MECHANISM=PLAIN
KAFKA_SASL_USERNAME=kafka-client@jobiq-487803.iam.gserviceaccount.com
KAFKA_SASL_PASSWORD=